<nav class="navbar navbar-default">
    <ul class="poki-nav nav navbar-nav">
        <li><a href="/">JOINED ROOMS</a></li>
        <li><a href="allrooms">ALL ROOMS</a></li>
        <li><a href="/people">PEOPLE</a></li>
        <li><a href="/setting">SETTING</a></li>
    </ul>
</nav>
