.new-room-box .form-control{
    height: 63px;
    font-size: 40px;
}
.all-room-label.label-me{
    background-color:  chocolate;
}
.all-room-label.label{
    color:  #222;
}
#all-list .row button{
    font-size: 30px;
}
.new-room-box .row button{
    font-size: 30px;
}
.new-room-box .row{
    font-size: 40px;
}