.container.chat-css{
    text-align: initial;
}

.chat-room-label.label-me{
    background-color:    burlywood;
}
.chat-room-label.label{
    color:  #222;
}

body{
    background:#ebeef0;
}
.chat-css .panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
}
.chat-css .panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.chat-css .panel-heading {
    position: relative;
    height: 50px;
    padding: 0;
    border-bottom:1px solid #eee;
}
.chat-css .panel-title {
    font-weight: normal;
    padding: 0 20px 0 20px;
    font-size: 1.416em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-css .nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.chat-css .nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.chat-css .pad-all {
    padding: 15px;
}
.chat-css .mar-btm {
    margin-bottom: 15px;
}
.chat-css .media-block .media-left {
    display: block;
    float: left;
}
.chat-css .img-sm {
    width: 46px;
    height: 46px;
}
.chat-css .media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}
.chat-css .pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.chat-css .speech {
    position: relative;
    background: #b7dcfe;
    color: #317787;
    display: inline-block;
    border-radius: 5px;
    padding: 12px 20px;
}
.chat-css .speech:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #b7dcfe;
    margin: 15px 0 0 -6px;
}
.chat-css .speech-left{
        display: inline-grid;
}
.chat-css .speech-right>.speech:before {
    left: auto;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ffdc91;
    border-right: 0;
    margin: 15px -6px 0 0;
}

.chat-css .speech .media-heading {
    font-size: 1.2em;
    color: #317787;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}
.chat-css .speech p{
    font-size: 1.5em;
}
.chat-css .speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300;
}
.chat-css .media-block .media-right {
    float: right;
}
.chat-css .speech-right {
    text-align: right;
}
.chat-css .pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.chat-css .speech-right>.speech {
    background: #ffda87;
    color: #a07617;
    text-align: right;
}
.chat-css .speech-right>.speech .media-heading {
    color: #a07617;
}
.chat-css .btn-primary, .btn-primary:focus, .btn-hover-primary:hover, .btn-hover-primary:active, .btn-hover-primary.active, .btn.btn-active-primary:active, .btn.btn-active-primary.active, .dropdown.open>.btn.btn-active-primary, .btn-group.open .dropdown-toggle.btn.btn-active-primary {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff !important;
}
.chat-css .btn-primary:hover,.btn-primary:focus{
    background-color: #579ddb;
    background-position-y:0px;
}
.chat-css .btn {
    cursor: pointer;
    /* background-color: transparent; */
    color: inherit;
    padding: 6px 12px;
    border-radius: 40px;
    border: 1px solid 0;
    font-size: 17px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
    height: 50px;
}
.chat-css .form-control {
    font-size: 17px;
    height: 50px;
    border-radius: 40px;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
}
.chat-css .nano>.nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
}