<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Room</title>
  <script src="../static/lib/jquery/dist/jquery.min.js"></script>
  <script src="../static/lib/vue/vue.js"></script>
  <script src="../main.js"></script>
  <script src="../static/js/all-room.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" type="text/css" href="../static/css/all-room.css">
<body>
    <div id="my-nav">
        <my-navbar></my-navbar>
    </div>
    <div class="page-header" style="text-align: center;">
        <h1 id="d"> 
           <span  class="label label-me"> 
             Add Room
           </span>
        </h1>
    </div>
    <div class="new-room-box" id="new-room-box">
        <div class="row well well-lg">
            <div class="col-sm-1"><span class="glyphicon glyphicon-plus"></span></div>
            <div class="col-sm-8">
                <input type="text" class="new-room-name" placeholder="New room name"></input>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success">
                    <span class="new-btn">New</span>   
                </button>
            </div>
        </div>
    </div> 
    <div class="room-list" id="all-list">
        <div class="row well well-lg" v-for="item in items">
            <div class="col-sm-1"><span class="glyphicon glyphicon-star"></span></div>
            <div class="col-sm-8"><a href="#">{{ item.name }}</a></div>
            <div class="col-sm-3">
                <button class="btn btn-warning">
                    <span class="join-btn">Join</span>   
                </button>
            </div>
        </div>
    </div>
</body>