<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="../static/lib/jquery/dist/jquery.min.js"></script>
<script src="../static/js/utils.js"></script>
<script>
    loadScript("../static/js/POKi.js", () => { // Ensure POKi core is loaded BEFORE login.js.
        loadScript("../static/js/login.js");
    });
</script>
<div style="position:absolute;top:35%;left:45%">
    <h1>POKi</h1>
    <form id="login-form" method="post">
        <span>
            User: <input type="text" name="username" value="paul">
        </span>
        <br>
        <span>
            Pass: <input type="text" name="password" value="paul">
        </span>
        <button type="submit" id="login-button">Login</button>
    </form>
</div>
