<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Setting</title>
  <script src="../static/lib/jquery/dist/jquery.min.js"></script>
  <script src="../socket.io-client-master/socket.io.js"></script>
  <script src="../static/lib/vue/vue.js"></script>
  <script src="../main.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
<body>
    <div id="my-nav">
        <my-navbar></my-navbar>
    </div>
    <h1>Setting</h1>
</body>